@use "sass:color";

// colors
$color-dark: #171717;
$color-dark2: #212121;
$color-dark3: #313131;
$color-dark4: #414141;
$color-dark5: #515151;
$color-light: #aaa;
$color-light2: #bbb;
$color-light3: #ccc;
$color-light4: #ddd;
$color-light5: #eee;
$color-white: #fff;
$color-heading: #ccc;
//$color-accent: #00FACC;
//$color-accent2: #45b4a0;
//$color-accent3: #3B9484;
//$color-accent4: #3A615A;
//$color-accent5: #2d3d3a98;
$color-accent: #c5d8a5;
$color-accent2: #9FC462;
$color-accent3: #759D34;
$color-accent4: #507614;
$color-accent5: #314e004f;
$color-blue: #4477be;

// text
$text-primary: $color-light3;
$text-secondary: $color-light;
$text-heading: $color-heading;
$text-link: $color-blue;

// background
$background: $color-dark;
$background2: $color-dark2;
$background3: $color-dark3;
$background4: $color-dark4;

// button
$button-color: $color-blue;
$button-hover-color: color.adjust($color-blue, $lightness: 10%);
$button-text: $text-primary;
