@use "variables";

.projects {
  padding-bottom: 4rem;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .card {
    background: variables.$background2;
    margin-top: 1rem;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .card p {
    font-size: 0.875rem;
    color: variables.$text-secondary;
    padding-top: 0.5rem;
  }

  .card img {
    box-sizing: border-box;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(variables.$color-accent, 0.2);
  }

  .skills {
    padding: 0;
    padding-top: 1rem;
    ul {
      gap: 0.5rem;
      margin: 0;
    }

    li {
      padding: 0.25rem 0.5rem;
    }
  }

  .card:hover {
    h3 {
      color: variables.$color-accent3;
      transition: color 0.3s ease;
    }
    p {
      color: variables.$color-light2;
      transition: color 0.3s ease;
    }
    img {
      box-shadow: 0 0 15px rgba(variables.$color-accent, 0.3);
      transition: box-shadow 1s ease;
    }
  }
}
