@use "variables";

.projects {
  padding-bottom: 4rem;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .card {
    background: variables.$background2;
    margin-top: 2rem;
    border-radius: 10px;
  }

  .card p {
    font-size: 0.875rem;
    color: variables.$text-secondary;
    padding-top: 0.5rem;
  }

  .card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .skills {
    padding: 0;
    ul {
      gap: 0.5rem;
      margin: 0;
    }

    li {
      padding: 0.25rem 0.5rem;
    }
  }

  .card:hover {
    h2 {
      color: variables.$color-accent3;
    }
    p {
      color: variables.$color-light2;
    }
  }
}
